* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --text-color: rgb(61, 2, 110);
    --neutral: rgb(255, 255, 255);
    --shadow-active: rgb(190, 190, 190);
    --h1-color: rgb(255, 255, 255);
    --background-color: white;
    --generic-color: rgb(0, 0, 0);
  
  
  }
  
  body {
    background-color: var(--background-color);
  }
  /* Header for viewing high score, score, and timer*/
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 20px;
    margin: 15px;
  }
  
  /* Quiz content summary section */
  section {
    border: 2px var(--generic-color) solid;
    padding: 10px;
    margin: 200px;
    text-align: center;
    line-height: 30px;
    color: var(--generic-color);
    background-color: var(--neutral);
    
  }
  section div h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  section div p {
    padding: 10px 20px;
  }
  section div button {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
  }
  section div button:active {
    background: var(--shadow-active);
  }
  section div button:hover {
    cursor: pointer;
  }
  section div button a {
    text-decoration: none;
  }
  
  section div button.choices {
    display: block;
    margin: 10px auto;
    width: 25%;
  }
  
  .start {
    display: none;
  }
  
  .start.active {
    display: block;
  }
  
  /* Questions section */
  .quiz {
    display: none;
  }
  
  .quiz.active {
    display: block;
  }
  
  /* Form section for user initials and score */
  .player {
    display: none;
    font-size: 20px;
  }
  
  .player.active {
    display: block;
  }
  
  .player-input[type=text] {
    padding: 10px;
    font-size: 15px;
    margin: 5px;
  }
  
  .player-input[type=text]:focus {
   background-color: var(--shadow-active);
  }
  
  /* High scores section */
  .high-scores {
    display: none;
  }
  
  .high-scores.active {
    display: block;
  }
  

