.title {
    margin: auto;
    width: 50%;
    padding: 10px;

}

li {
    display: inline;
}

.headline {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.instructions {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button {
    margin: auto;
    width: 50%;
    padding: 10px;
}